/* main colors 
 */

:root {
  --black: #000000;
  --dark1: #52057b;
  --dark2: #892cdc;
  --dark3: #bc6ff1;
}

/* body { background-color: var(--blue); }

h2 { border-bottom: 2px solid var(--blue); } */
/* examples  */

body {
  background-color: var(--black) !important;
  overflow-x: hidden;
}

.navbar-brand{
  text-decoration: none !important;
}

.bg_navbar {
  background-color: #52057b75;
  box-shadow: 0px 0px 20px 2px #bd6ff1;
}

.My_input {
  border: none;
  outline: none;
  background: none !important;
  border-bottom: 2px solid #892cdc;
  color: white;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  /* padding-top:10px; */
  padding: none;
  height: fit-content;
}

input[type="search"] {
  color: #bc6ff1;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.My_input:focus,
.My_input:active {
  background: transparent !important;
  border-bottom: 2px solid #bc6ff1 !important;
}

.input_btn{
  background-color: transparent;
}

.my_text {
  color: #bc6ff1;
  border-bottom: 2px solid #52057b;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.my_text:hover {
  border-bottom: 2px solid #892cdc;
}

.Mycard {
  background-color: #52057b41 !important;
  transition: all 0.3s;
  height: 350px;
  box-shadow: 7px 7px 15px #bd6ff14c;
}
.Mycard:hover {
  box-shadow: 3px 3px 15px #bd6ff198;
  transform: translateY(-2px);
  /* transform: scale(1.1); */
}
.card_btn {
  text-decoration: none;
  color: white;
  border: 2px solid var(--dark3);
  padding: 0.2rem 0.3rem;
  font-size: 0.6rem;
  transition: all 0.3s;
  margin: 10px 10px;
  box-shadow: 5px 5px 10px #bd6ff14c, inset 5px 5px 10px #bd6ff14c;
}
.card_btn:hover {
  color: var(--black);
  background-color: var(--dark3);
  box-shadow: 5px 5px 10px #bd6ff198, inset 5px 5px 10px #bd6ff198;
}

.img_card {
  width: 70%;
  margin: auto;
}

.bg_purple {
  background-color: #52057bab;
  box-shadow: 0px 0px 20px 5px #8a2cdc49;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bg_transprent {
  z-index: 100;
  background-color: rgba(13, 1, 1, 0.23);
  box-shadow: 0px 0px 50px 5px #bd6ff15f;
  /* filter: blur(1px); */
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

}



